*{
    font-family: "Open Sans", sans-serif;
}
/* Colour scheme
 * Babyest blue #8ca6db
 * Purplish #b993d6
 * */

body {
    margin: 0px;
}


h1 {
    margin-top: 2px;
    color: #8ca6db;
}

nav a {
    color: #8ca6db;
    text-decoration: none;
}

nav a:hover {
    color: #b993d6;
}

nav a p {
    padding:5px 20px;
    border-bottom: 0.5px dashed #b993d6;
}

nav a p i {
    padding:5px;
}

input {
    margin: 5px;
    width: 100%;
    padding: 5px;
}

input[type=submit] {
    background: #8ca6db; 
    background: linear-gradient(to right, #8ca6db 0%,#b993d6 100%); 
    border: 0px;
    padding: 10px;
    color: white;
}

#master {
    display: flex;
    flex-direction:row;
    margin:0px;
}

#left {
    width: 150px;
    padding: 5px;
}

#right {
    /* width: 200px; */
    width: calc(100vw - 150px);
    height: 100vh;
}

#logo {
    padding:20px;
    width: 70%;
    padding-bottom: 0px;
}

#popUp {
    /*toggleable*/
    display:none;

    position: absolute;
    padding:30px;
    top: calc(50vh - 300px/2 - 30px);
    /* height: 300px; */
    right: calc(50vw - 400px/2 - 30px);
    width: 400px;
    background-color: white;
    box-shadow: 0px 0px 5px #888;
    z-index:2;
}

#mask {
    /*toggleable*/
    display:none;

    background-color: black;
    width: 100vw;
    height: 100vh;
    position:absolute;
    float:left;
    top:0px;
    z-index:1;
    opacity:0.5;
}


