html
    head
        title Startup
        link(rel="stylesheet" href="startup.css")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        #banner
            img(src='logo.png', width='30%')
            h3 Find Everything
        #features
            img.topp(src='home.png')
            h1 Features
            .third
                i.icon.material-icons pin_drop
                h3 Data-Driven 
                p A plug and play data visuzalization tool
            .third
                i.icon.material-icons code
                h3 Axis Syntax
                p Powerful versatile queires powered by AxisLang
            .third
                i.icon.fa.fa-code-fork 
                h3 Open Source 
                p Fork us today, and help build a better tool
            h3 This is startup css
            p Startup.css is a micro framework for making super quick static websites. For those times you need a quick amazing looking website. 
        #footer
                h4 Startup.css
                a(href="https://github.com/pedsm/fell.css")
                        i.fa.fa-github
